<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Remit {ifset title} - {include title|striptags}{/ifset}</title>

    <!-- CORE CSS -->
    <link href="{$basePath}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/css/theme.min.css" rel="stylesheet">
    <link href="{$basePath}/css/custom.css" rel="stylesheet">
    <link href="{$basePath}/css/helpers.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>

    <!-- PLUGINS -->
    <link href="{$basePath}/css/font-awesome.min.css" rel="stylesheet">
    <link href="{$basePath}/css/ionicons.min.css" rel="stylesheet">
    <link href="{$basePath}/css/animate.min.css" rel="stylesheet">
    <link href="{$basePath}/css/animate.delay.css" rel="stylesheet">
    <link href="{$basePath}/css/owl.carousel.css" rel="stylesheet">
    <link href="{$basePath}/css/toastr.min.css" rel="stylesheet">
    <link href="{$basePath}/css/bootstrap-formhelpers.min.css" rel="stylesheet">
</head>

<body class="fixed-header">
<header>
    <div class="container">
        <span class="bar hide"></span>
        <a href="{$basePath}" class="logo"><img src="{$basePath}/img/logo.png" alt=""></a>
        <nav>
            <div class="nav-control">
                <ul>
                    <li><a href="{$basePath}">Hlavní</a></li>
                    <li><a href="{$basePath}">Filmy</a></li>
                    <li><a href="{$basePath}">Kino</a></li>
                    <li><a href="{$basePath}">Televize</a></li>
                    <li><a n:href="Kontakt:">Kontakt</a></li>
                </ul>
            </div>
        </nav>
        <div class="nav-right">
            {if $user->isLoggedIn()}
                <div class="nav-profile dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img
                                src="{$basePath}/img/user/avatar.jpg" alt="">
                        <span>{$user->getIdentity()->username}</span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="fa fa-user"></i> Můj profil</a></li>
                        <li><a n:href="Nastaveni:"><i class="fa fa-gear"></i> Nastavení</a></li>
                        <li class="divider"></li>
                        <li><a n:href="Odhlasit:"><i class="fa fa-power-off"></i> Odhlásit</a></li>
                    </ul>
                </div>
                <div class="nav-dropdown dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <span
                                class="label label-danger">3</span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header"><i class="fa fa-heart-o"></i> Máš 3 upozornění</li>
                        <li><a href="#"><img src="{$basePath}/img/movie/small-1.jpg" alt=""> Alien Isolation</a></li>
                        <li><a href="#"><img src="{$basePath}/img/movie/small-1.jpg" alt=""> Alien Isolation</a></li>
                        <li><a href="#"><img src="{$basePath}/img/movie/small-1.jpg" alt=""> Alien Isolation</a></li>
                        <li class="dropdown-footer"><a href="#">Zobrazit všechny upozornění</a></li>
                    </ul>
                </div>
            {else}
                <a n:href="Prihlaseni:" data-toggle="tooltip" data-placement="bottom" title="Přihlásit se"><i
                            class="fa fa-user"></i></a>
                <a n:href="Registrace:" data-toggle="tooltip" data-placement="bottom" title="Zaregistrovat se"><i
                            class="fa fa-users"></i></a>
            {/if}
            <a href="#" data-toggle="modal-search"><i class="fa fa-search"></i></a>
        </div>
    </div>
</header>
<!-- /header -->

<div class="modal-search">
    <div class="container">
        <input type="text" class="form-control" placeholder="Hledat...">
        <i class="fa fa-times close"></i>
    </div>
</div><!-- /.modal-search -->

<!-- wrapper -->
<div id="wrapper">
    {include content}
</div>
<!-- /#wrapper -->

<!-- footer -->
<footer>
    <div class="container">
        <div class="widget row">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                <h4 class="title">O projektu remit</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pharetra mattis arcu, a congue leo
                    malesuada eu. Nam nec mauris ut odio tristique varius et eu metus. Quisque massa purus, aliquet quis
                    blandit et, <br/> <br/>mollis sed lorem. Sed vel tincidunt elit. Phasellus at varius odio, sit amet
                    fermentum mauris.</p>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <h4 class="title">Filmové kategorie</h4>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <ul class="nav">
                            <li><a href="#">Komedie</a></li>
                            <li><a href="#">Komedie</a></li>
                            <li><a href="#">Komedie</a></li>
                            <li><a href="#">Komedie</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <ul class="nav">
                            <li><a href="#">Komedie</a></li>
                            <li><a href="#">Komedie</a></li>
                            <li><a href="#">Komedie</a></li>
                            <li><a href="#">Komedie</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <h4 class="title" id="newsletter">Email Newsletter</h4>
                <p>Nenechte si ujít filmové novinky a nechte se o nich informovat!</p>
                {form newsletterForm, class=>"btn-inline form-inverse"}
                    <input type="text" class="form-control" n:name="email" placeholder="Email..."/>
                    <button n:name="subscribe" type="submit" class="btn btn-link"><i class="fa fa-envelope"></i>
                    </button>
                {/form}
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <ul class="list-inline">
                <li><a href="#" class="btn btn-circle btn-social-icon" data-toggle="tooltip"
                       title="Follow us on Twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" class="btn btn-circle btn-social-icon" data-toggle="tooltip"
                       title="Follow us on Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" class="btn btn-circle btn-social-icon" data-toggle="tooltip"
                       title="Follow us on Google"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#" class="btn btn-circle btn-social-icon" data-toggle="tooltip" title="Follow us on Steam"><i
                                class="fa fa-steam"></i></a></li>
            </ul>
            &copy; 2016 remit. All rights reserved.
        </div>
    </div>
</footer>
<!-- /.footer -->

<div id="signin" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title"><i class="fa fa-user"></i> Přihlásit se</h3>
            </div>
            <div class="modal-body">
                <a class="btn btn-block btn-social btn-facebook"><i class="fa fa-facebook"></i> Připojit se pomocí
                    facebooku</a>
                <div class="separator"><span>nebo</span></div>
                <form>
                    <div class="form-group input-icon-left">
                        <i class="fa fa-user"></i>
                        <input type="text" class="form-control" name="username" placeholder="Username">
                    </div>
                    <div class="form-group input-icon-left">
                        <i class="fa fa-lock"></i>
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <button type="button" class="btn btn-primary btn-block">Sign In</button>

                    <div class="form-actions">
                        <div class="checkbox">
                            <input type="checkbox" id="checkbox">
                            <label for="checkbox">Zapamatovat</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer text-left">
                Ještě nemáte účet? <a href="register.html">Zaregistrovat se</a>
            </div>
        </div>
    </div>
</div><!-- /.modal -->

<!-- Javascript -->
<script src="{$basePath}/js/jquery-1.11.1.min.js"></script>
<script src="{$basePath}/js/bootstrap.min.js"></script>
<script src="{$basePath}/js/core.min.js"></script>
<script src="{$basePath}/js/owl.carousel.min.js"></script>
<script src="{$basePath}/js/recaptcha.js"></script>
<script src="{$basePath}/js/toastr.min.js"></script>
<script src="{$basePath}/js/nette.ajax.js"></script>
<script src="{$basePath}/js/bootstrap-formhelpers.min.js"></script>
<script type="text/javascript">
    (function ($) {
        "use strict";
        var owl = $(".owl-carousel");

        owl.owlCarousel({
            items: 4, //4 items above 1000px browser width
            itemsDesktop: [1000, 3], //3 items between 1000px and 0
            itemsTablet: [600, 1], //1 items between 600 and 0
            itemsMobile: false // itemsMobile disabled - inherit from itemsTablet option
        });

        $(".next").click(function () {
            owl.trigger('owl.next');
            return false;
        })
        $(".prev").click(function () {
            owl.trigger('owl.prev');
            return false;
        })
    })(jQuery);

    $(function () {
        $.nette.init();
    });

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-top-full-width",
        "preventDuplicates": true,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }
</script>
<script type="text/javascript">
    {foreach $flashes as $flash}
    toastr[{$flash->type}]({$flash->message});
    {/foreach}
</script>
</body>
</html>