<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="Petr Šopf">
    <link rel="shortcut icon" href="{$basePath}/favicon.ico">

    <title>Remit {ifset title} - {include title|striptags}{/ifset}</title>

    <!-- CORE CSS -->
    <link href="{$basePath}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/css/theme.min.css" rel="stylesheet">
    <link href="{$basePath}/css/custom.css" rel="stylesheet">
    <link href="{$basePath}/css/helpers.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>

    <!-- PLUGINS -->
    <link href="{$basePath}/css/font-awesome.min.css" rel="stylesheet">
    <link href="{$basePath}/css/ionicons.min.css" rel="stylesheet">
    <link href="{$basePath}/css/animate.min.css" rel="stylesheet">
    <link href="{$basePath}/css/animate.delay.css" rel="stylesheet">
    <link href="{$basePath}/css/owl.carousel.css" rel="stylesheet">
    <link href="{$basePath}/css/toastr.min.css" rel="stylesheet">
    <link href="{$basePath}/css/bootstrap-formhelpers.min.css" rel="stylesheet">
    <link href="{$basePath}/css/HoldOn.min.css" rel="stylesheet">
    <link href="{$basePath}/css/ekko-lightbox.min.css" rel="stylesheet">
    <link href="{$basePath}/css/blueimp-gallery.min.css" rel="stylesheet">
    <link href="{$basePath}/css/bootstrap-image-gallery.min.css" rel="stylesheet">
    <link href="{$basePath}/css/jquery.datetimepicker.css" rel="stylesheet">
</head>
<body class="fixed-header">
{if $user->isLoggedIn()}
    {ifCurrent Film:}
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Nastavit upozornění k filmu {$movie["title"]}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <button id="premiereButton" type="button" class="btn btn-default"><i class="fa fa-film"></i>
                                Upozornit na premiéru
                            </button>
                            <button id="televisionButton" type="button" class="btn btn-default"><i
                                        class="fa fa-television"></i> Upozornit na
                                vysílání v TV
                            </button>
                        </div>
                        <div id="premiere" style="display: none;" class="margin-top-10">
                            {if !$movie["release_date"]}
                                <div class="alert alert-danger">
                                    Pro tento film není známé datum premiéry, upozornění nelze nastavit.
                                </div>
                            {elseif $template->afterPremiere($movie["release_date"])}
                                <div class="alert alert-danger">
                                    Tento film již premiéru měl, upozornění nelze nastavit!
                                </div>
                            {else}
                                {form premiereNotificationForm}
                                    <strong>Datum premiéry:</strong> {$movie["release_date"]|date:'%d.%m.%Y'}<br>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="form-group input-icon-left">
                                                <i class="fa fa-calendar-o"></i>
                                                <input type="text" id="datetimepicker" class="form-control"
                                                       placeholder="Vyberte čas a datum upozornění" n:name="datetime">
                                            </div>
                                        </div>
                                    </div>
                                    <strong>Upozornit pomocí:</strong>
                                    <div class="checkbox">
                                        <div class="checkbox checkbox-control checkbox-inline checkbox-primary">
                                            <input type="checkbox" n:name="emailNotif" id="emailNotif">
                                            <label for="emailNotif">Emailu</label>
                                        </div>
                                        {if $userData->facebookId}
                                            <div class="checkbox checkbox-control checkbox-inline checkbox-primary">
                                                <input type="checkbox" n:name="facebookNotif" id="facebookNotif">
                                                <label for="facebookNotif">facebooku</label>
                                            </div>
                                        {/if}
                                        {if $userData->phone}
                                            <div class="checkbox checkbox-control checkbox-inline checkbox-primary">
                                                <input type="checkbox" n:name="smsNotif" id="smsNotif">
                                                <label for="smsNotif">SMS</label>
                                            </div>
                                        {/if}
                                    </div>
                                    <input type="submit" n:name="addNotification" class="btn btn-primary btn-block">
                                {/form}
                            {/if}
                        </div>
                        <div id="notification" style="display: none;" class="margin-top-10">
                        </div>
                        <div id="television" style="display: none;" class="margin-top-10">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {/ifCurrent}
{/if}
<header>
    <div class="container">
        <span class="bar hide"></span>
        <nav>
            <div class="nav-control" id="menu">
                <ul>
                    <li><a n:href="Default:"{ifCurrent Default:} class="active"{/ifCurrent}>Hlavní</a></li>
                    <li><a n:href="Filmy:"{ifCurrent Filmy:} class="active"{/ifCurrent}{ifCurrent Film:} class="active"{/ifCurrent}>Filmy</a></li>
                    <li><a n:href="Kino:"{ifCurrent Kino:} class="active"{/ifCurrent}>Kino</a></li>
                    <li><a n:href="Televize:"{ifCurrent Televize:} class="active"{/ifCurrent}>Televize</a></li>
                    <li><a n:href="Kontakt:"{ifCurrent Kontakt:} class="active"{/ifCurrent}>Kontakt</a></li>
                </ul>
            </div>
        </nav>
        <div class="nav-right">
            {if $user->isLoggedIn()}
                <div class="nav-profile dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img
                                src="{$basePath}/img/user/{if $avatar}{$userData->id}{else}avatar{/if}.jpg" alt="">
                        <span>{$user->getIdentity()->username}</span></a>
                    <ul class="dropdown-menu">
                        <li><a n:href="Uzivatel:, id=>$userData->id, name=>$user->getIdentity()->username"{ifCurrent Uzivatel:*} class="active"{/ifCurrent}><i
                                        class="fa fa-user"></i> Můj profil</a></li>
                        <li><a n:href="Nastaveni:"{ifCurrent Nastaveni:*} class="active"{/ifCurrent}><i class="fa fa-gear"></i> Nastavení</a></li>
                        <li class="divider"></li>
                        <li><a n:href="Odhlasit:"{ifCurrent Odhlasit:*} class="active"{/ifCurrent}><i class="fa fa-power-off"></i> Odhlásit</a></li>
                    </ul>
                </div>
                <div class="nav-dropdown dropdown">
                    <a href="#"{ifCurrent Upozorneni:*} class="active"{/ifCurrent} class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i>
                        {if $notifications}<span
                                class="label label-danger">{count($notifications)}</span>{/if}</a>
                    <ul class="dropdown-menu">
                        {if $notifications}
                            <li class="dropdown-header"><i class="fa fa-bell"></i> Máš nastavené {count($notifications)}
                                upozornění
                            </li>
                        {else}
                            <li class="dropdown-header"><i class="fa fa-bell"></i> Nemáš nastavené žádné upozornění
                            </li>
                        {/if}
                        <li class="dropdown-footer"><a n:href="Upozorneni:">Zobrazit všechny upozornění</a></li>
                    </ul>
                </div>
            {else}
                <a n:href="Prihlaseni:"{ifCurrent Prihlaseni:*} class="active"{/ifCurrent} data-toggle="tooltip" data-placement="bottom" title="Přihlásit se"><i
                            class="fa fa-user"></i></a>
                <a n:href="Registrace:"{ifCurrent Registrace:*} class="active"{/ifCurrent} data-toggle="tooltip" data-placement="bottom" title="Zaregistrovat se"><i
                            class="fa fa-users"></i></a>
            {/if}
            <a href="#" data-toggle="modal-search"><i class="fa fa-search"></i></a>
        </div>
    </div>
</header>
<!-- /header -->

<div class="modal-search">
    <div class="container">
        {form movieSearchForm}
            <input n:name="name" type="text" class="form-control" placeholder="Zadejte název filmu...">
            <i class="fa fa-times close"></i>
        {/form}
    </div>
</div><!-- /.modal-search -->

<!-- wrapper -->
<div id="wrapper">
    {include content}
</div>
<!-- /#wrapper -->

<!-- footer -->
<footer>
    <div class="container">
        <div class="widget row">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                <h4 class="title">O projektu remit</h4>
                <p>Jste filmovými fanoušky, ale s přívalem nových a nových filmů už nestíháte sledovat novinky? Pak se
                    stačí na našem webu zaregistrovat a poté si již můžete
                    nechat zasílat upozornění na filmy podle vašeho přání.<br/> <br/>Upozornění můžete dostávat přímo
                    zde na webu, emailem, facebookem nebo formou SMS.</p>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <h4 class="title">Filmové kategorie</h4>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <ul class="nav">
                            <li><a n:href="Filmy:, search => true, genre => 35">Komedie</a></li>
                            <li><a n:href="Filmy:, search => true, genre => 16">Animovaný</a></li>
                            <li><a n:href="Filmy:, search => true, genre => 27">Horor</a></li>
                            <li><a n:href="Filmy:, search => true, genre => 10749">Romantický</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <ul class="nav">
                            <li><a n:href="Filmy:, search => true, genre => 878">Sci-Fi</a></li>
                            <li><a n:href="Filmy:, search => true, genre => 28">Akční</a></li>
                            <li><a n:href="Filmy:, search => true, genre => 14">Fantasy</a></li>
                            <li><a n:href="Filmy:, search => true, genre => 99">Dokumentární</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <h4 class="title" id="newsletter">Email Newsletter</h4>
                <p>Nenechte si ujít filmové novinky a nechte se o nich informovat!</p>
                {form newsletterForm, class=>"btn-inline form-inverse"}
                    <input type="text" class="form-control" n:name="email" placeholder="Email..."/>
                    <button n:name="subscribe" type="submit" class="btn btn-link"><i class="fa fa-envelope"></i>
                    </button>
                {/form}
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <ul class="list-inline">
                <li><a href="#" class="btn btn-circle btn-social-icon" data-toggle="tooltip"
                       title="Následujte nás na twitteru!"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" class="btn btn-circle btn-social-icon" data-toggle="tooltip"
                       title="Následujte nás na facebooku!"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" class="btn btn-circle btn-social-icon" data-toggle="tooltip"
                       title="Následujte nás na Google+!"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#" class="btn btn-circle btn-social-icon" data-toggle="tooltip"
                       title="Následujte nás na YouTube!"><i class="fa fa-youtube-play"></i></a></li>
            </ul>
            &copy; 2016 remit. Všechny práva vyhrazena.
        </div>
    </div>
</footer>
<!-- /.footer -->
<!-- Javascript -->
<script src="{$basePath}/js/jquery-1.11.1.min.js"></script>
<script src="{$basePath}/js/bootstrap.min.js"></script>
<script src="{$basePath}/js/core.min.js"></script>
<script src="{$basePath}/js/owl.carousel.min.js"></script>
<script src="{$basePath}/js/recaptcha.js"></script>
<script src="{$basePath}/js/toastr.min.js"></script>
<script src="{$basePath}/js/nette.ajax.js"></script>
<script src="{$basePath}/js/bootstrap-formhelpers.min.js"></script>
<script src="{$basePath}/js/HoldOn.min.js"></script>
<script src="{$basePath}/js/jquery.easypiechart.min.js"></script>
<script src="{$basePath}/js/ekko-lightbox.min.js"></script>
<script src="{$basePath}/js/jquery.blueimp-gallery.min.js"></script>
<script src="{$basePath}/js/bootstrap-image-gallery.min.js"></script>
<script src="{$basePath}/js/jquery.datetimepicker.full.min.js"></script>
<script type="text/javascript">
    (function ($) {
        "use strict";
        var owl = $(".owl-carousel");

        owl.owlCarousel({
            items: 4, //4 items above 1000px browser width
            itemsDesktop: [1000, 3], //3 items between 1000px and 0
            itemsTablet: [600, 1], //1 items between 600 and 0
            itemsMobile: false // itemsMobile disabled - inherit from itemsTablet option
        });

        $(document).delegate('*[data-toggle="lightbox"]', 'click', function (event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });

        $(window).scroll(function () {
            if ($(this).scrollTop() > 400) {
                $('body').addClass('fixed-tab');
            } else {
                $('body').removeClass('fixed-tab');
            }
        });
        {ifCurrent Film:}
        $('.chart').easyPieChart({
            animate: {
                duration: 1000,
                enabled: true
            },
            easing: 'easeOutBounce',
            barColor: function (percent) {
                if (percent < 35) {
                    return '#e74c3c';
                }
                else if (percent < 50) {
                    return '#FF8E2B';
                }
                else if (percent < 70) {
                    return '#2776dc';
                }

                return '#0E9A49';
            },
            trackColor: '#e3e3e3',
            onStep: function (from, to, percent) {
                $(this.el).find('.percent').text(Math.round(percent));
            }
        });
        {if $user->isLoggedIn()}

        $("#premiereButton").click(function () {
            setActive(this);
            $("#premiere").show();
        });

        $("#televisionButton").click(function () {
            setActive(this);
            $("#television").show();
        });

        function setActive(element) {
            $("#premiereButton").removeClass('active');
            $("#premiere").hide();
            $("#televisionButton").removeClass('active');
            $("#television").hide();
            $(element).addClass('active');
        }

        var dateMax = {$notifMaxDate};
        var dateMin = {$notifMinDate};

        jQuery.datetimepicker.setLocale('cs');
        jQuery('#datetimepicker').datetimepicker({
            format: 'd.m.Y H:i',
            maxDate: dateMax,
            minDate: dateMin,
        });
        {/if}
        {/ifCurrent}
        setTimeout(function () {
            $('.progress-animation .progress-bar').each(function () {
                var me = $(this);
                var perc = me.attr("aria-valuenow");
                var current_perc = 0;
                var progress = setInterval(function () {
                    if (current_perc >= perc) {
                        clearInterval(progress);
                    } else {
                        current_perc += 1;
                        me.css('width', (current_perc) + '%');
                    }
                }, 0);
            });
        }, 0);

        $(".next").click(function () {
            owl.trigger('owl.next');
            return false;
        })
        $(".prev").click(function () {
            owl.trigger('owl.prev');
            return false;
        })
    })(jQuery);

    $(function () {
        $.nette.init();
    });

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-top-full-width",
        "preventDuplicates": true,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }

    $(".load").click(function () {
        var options = {
            theme: "sk-bounce",
            message: $(this).attr("data-load")
        };

        HoldOn.open(options);
    });

    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').focus()
    })

    var basePath = {$basePath};

    function imgPosterError(image) {
        image.onerror = "";
        image.src = basePath + "/img/noMovieImg.jpg";
        return true;
    }

    function imgPosterSmallError(image) {
        image.onerror = "";
        image.src = basePath + "/img/noMovieImgSmall.jpg";
        return true;
    }
</script>
<script type="text/javascript">
    {foreach $flashes as $flash}
    toastr[{$flash->type}]({$flash->message});
    {/foreach}
</script>
</body>
</html>