<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="card card-game card-{if $movie["vote_average"] < 3.5}danger{elseif $movie["vote_average"] < 5}warning{elseif $movie["vote_average"] < 7}primary{else}success{/if}">
        <div class="card-header">
            {var $genres = ''}
            {foreach $movie["genre_ids"] as $genre}
                {var $genre = $template->genre($genre)}
                {var $genres  = $genres.$genre}
                {if !$iterator->isLast()}{var $genres  = $genres.', '}{/if}
            {/foreach}
            <i class="fa fa-info-circle" data-toggle="tooltip" data-html="true" data-placement="right"
               title="<strong>Popis:</strong> {if $movie["overview"]}{$movie["overview"]}{else}Neznámý{/if}"></i>
            <i class="fa fa-video-camera" data-toggle="tooltip" data-html="true" data-placement="right"
               title="<strong>Kategorie:</strong> {$genres}"></i>
            <i class="fa fa-calendar" data-toggle="tooltip" data-html="true" data-placement="right"
               title="<strong>Datum vydání:</strong> {if $movie["release_date"]}{$movie["release_date"]}{else}Neznámý{/if}"></i>
        </div>
        <div class="card-img">
            <a href="{plink Film:, id => $movie['id']}" class="load" data-load="Načítám film {$movie["title"]}..."><img
                        src="https://image.tmdb.org/t/p/w300/{$movie["poster_path"]}"
                        class="poster-medium" onerror="imgPosterError(this);" alt="{$movie["title"]}"></a>
            <div class="category"><span
                        class="label label-{if $movie["vote_average"] < 3.5}danger{elseif $movie["vote_average"] < 5}warning{elseif $movie["vote_average"] < 7}primary{else}success{/if}">{$movie["vote_average"]}
                    /10</span></div>
        </div>
        <div class="caption">
            <h3 class="card-title"><a href="{plink Film:, id => $movie['id']}" class="load"
                                      data-load="Načítám film {$movie["title"]}...">{$movie["title"]}</a></h3>
        </div>
    </div>
</div>