php:
	date.timezone: Europe/Prague

application:
	mapping:
		*: Remit\Module\*\Presenters\*Presenter

services:
    authenticator: MyAuth

extensions:
	console: Kdyby\Console\DI\ConsoleExtension
	events: Kdyby\Events\DI\EventsExtension
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension
	facebook: Kdyby\Facebook\DI\FacebookExtension
	reCaptcha: ReCaptchaControl\ReCaptchaExtension

doctrine:
	user: root
	password: ''
	dbname: remit
	metadata:
		App: %appDir%

facebook:
	appId: "1118989051484996"
	appSecret: "43c111d7ac7c2115839fae14f5b37e3b"
	permissions: [public_profile, email] # theese are the default read permissions, you might need to
	graphVersion: v2.5

reCaptcha:
	secretKey: 6Ld9WwsTAAAAADsqzL2hucyYVQ4gbtwwIGXVlzhn
	siteKey: 6Ld9WwsTAAAAAOOaGhh1y7RvXpF3nfPBMAHmeHXM